<div>
        <div class="container-fluid">
            <div class="col-md-6">
                <button class="form-control lg" style="text-align:center;" data-toggle="modal" data-target="#addprod">Add New Product <span class="glyphicon glyphicon-plus" style="margin-right:15px"></span></button>
            </div>
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product ID</th>
                            <th>Name</th>
                            <th>M</th>
                            <th>L</th>
                            <th>XL</th>
                            <th>Desc.</th>
                            <th>Image</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            
                        </tr>
                    </tbody> 
                </table>
            </div>
            <div id="addprod" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h4>Add Product</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-group form-inline">
                                <label for="name" style="padding-right:20px">Product : </label><input id="name" class="form-control" style="width:350px;"/><br>
                                <label for="M" style="padding-top:20px;padding-right:45px">M : </label><input id="M" class="form-control" style="padding-top:20px;width:350px;"/>
                                <label for="L" style="padding-top:20px;padding-right:17px">L : </label><input id="L" class="form-control" style="padding-top:20px;width:350px;"/>
                                <label for="XL" style="padding-top:20px;padding-right:17px">XL : </label><input id="XL" class="form-control" style="padding-top:20px;width:350px;"/>
                                <label for="Desc" style="padding-top:20px;padding-right:17px"></label><input id="desc" class="form-control" style="padding-top:20px;width:300px"/>
                                <label for-"img" style="padding-top:20px;padding-right:17px"></label><input type="file" class="form-control" id="img" style="padding-top:20px;"/>
                                <div class="col-12" style="text-align:center;padding-top:20px">
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="editprod" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                           <h4>Edit Product</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-group form-inline">
                                    <label for="name" style="padding-right:20px">Product : </label><input id="name" class="form-control" style="width:350px;"/><br>
                                    <label for="M" style="padding-top:20px;padding-right:45px">M : </label><input id="M" class="form-control" style="padding-top:20px;width:350px;"/>
                                    <label for="L" style="padding-top:20px;padding-right:17px">L : </label><input id="L" class="form-control" style="padding-top:20px;width:350px;"/>
                                    <label for="XL" style="padding-top:20px;padding-right:17px">XL : </label><input id="XL" class="form-control" style="padding-top:20px;width:350px;"/>
                                    <label for="Desc" style="padding-top:20px;padding-right:17px"></label><input id="desc" class="form-control" style="padding-top:20px;width:300px"/>
                                    <label for-"img" style="padding-top:20px;padding-right:17px"></label><input type="file" class="form-control" id="img" style="padding-top:20px;"/>
                                    <div class="col-12" style="text-align:center;padding-top:20px">                                            <button class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
